* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./background.jpg");
  width: 100vw;
  height: 100vh;

  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child {
  display: flex;
  justify-content: space-between;
}

.child span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-inline: 20px;
}

h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

button {
  font-size: 30px;
  padding-block: 5px;
  padding-inline: 25px;
  border-radius: 7px;

  background-color: darkorange;
  color: inherit;
}
